.painel{
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 1020px;
}

.pencil-input{
    width: 70px;
    height: 36px;

    border: 0;

    border-radius: 4px;
}

.painel-button{
    width: auto;
    height: 36px;

    border: 2px solid black;

    border-radius: 4px;
}

.ativado{
    border-color: blueviolet;
}

#pencil{
    background-color: black;
}

#eraser{
    background-color: white;
}

#canvas{
    border: 1px solid black;
}