.painel-button{
    width: 36px;
    height: 36px;

    border: 2px solid black;

    border-radius: 4px;
}

.ativado{
    border-color: blueviolet;
}

#pencil{
    background-color: black;
}

#eraser{
    background-color: white;
}

#canvas{
    border: 1px solid black;
}